.headerPhoto {
  background-image: url('/profil.png');
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: top; */
  background-position: right top;
  background-size: 100vh;
  height: 130vh;
  width: 99.4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit:contain;
  margin-top: -12vh;
  z-index: 1;
  /* clip-path: circle(50% at 100% 35%); */
}

.anchor {
  position: absolute;
  transform: translateY(-50vh);
}
.anchorVisi {
  position: absolute;
  transform: translateY(-15vh);
}

.anchorProgja {
  position: absolute;
  transform: translateY(-20vh);
}
.anchorKegiatan {
  position: absolute;
  transform: translateY(-130vh);
}

.photoBoxTop {
  display: flex;
  justify-content: flex-end;
  min-height: fit-content;
  min-width: fit-content;
  gap: 2vw;
}

.photoTop {
  width: 45vw;
  height: 100%;
  z-index: 10;
  shape-outside: inset(0 0 0 0);
}

.greetingsName {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  margin: 10vh 2vw 0 2vw;
  font-size: 70px;
}

.greetingsName p {
  color: #FFB301;
  line-height: 1;
  font-size: 80px;
}

.greetingsName div{
  width: 40vw;
  font-weight: 100;
  color: white;
  font-size: 20px;
}

.perkenalanBio{
  margin: 4vw 5vw 4vw 6vw;
  font-weight: 400;
  color: white;
  font-size: 13px;
  text-align: justify;
  text-indent: 4vw;
}

.cardWhyYouShould {
  margin: 15vw 10vw 10vh 5vw;
  display: flex;
  flex-direction: row;
}

.cardPhoto {
  width: 25vw;
  height: 70vh;
  min-width: 300px;
  border-radius: 20px;
  box-shadow: rgba(255, 179, 1, 0.4) 5px 5px, rgba(255, 179, 1, 0.3) 10px 10px, rgba(255, 179, 1, 0.2) 15px 15px, rgba(255, 179, 1, 0.1) 20px 20px, rgba(255, 179, 1, 0.05) 25px 25px;
  object-fit: cover;
}

.textCard {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 900;
  font-size: 40px;
}

.textCard div {
  color:#FFB301;
}

.textCard p {
  color:white;
  font-weight: 100;
  font-size: 20px;
  margin-top: 30px;
  text-indent: 2vw;
  text-align: justify;
}

.awesomeServ {
  display: flex;
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-weight: 900;
  font-size: 40px;
  justify-content: center;
}

.awesomeServ p {
  color: #FFB301;
}

.cardServ {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 30vh 20vh 30vh;

}

.cardServ .div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardServPc {
  --bs-card-bg: #31313a !important;
  color: White;
  width: 20rem;
  margin: 0 10px 0 10px;
}

.iconCardServ {
  margin-top: 10px;
  margin-bottom: 30px;
}

.educationTitle {
  font-weight: 900;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15vh 0 10vh 0;
  font-size: 30px;
}

.eduExpBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.lineMid {
  border-left: 5px #FFB301 solid;
}

.eduBox {
  display: flex;
  flex-direction: column;
}

.eduDescBox {
  margin: auto;
  width: 60vw;
  height: 90px;
  min-width: fit-content;
  min-height: fit-content;
  background-color: #31313a;
  border-radius: 15px;
  border-left: 5px #FFB301 solid;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.eduTextTahun {
  margin-left: 7vw;
  text-align: right;
  color: white;
}

.eduContent {
  margin: 10px 2vw 10px 2vw;
  color: #FFB301;
  width: 100%;
  min-height: fit-content;
}

.eduJurusan {
  font-weight: 400;
  font-size: 14px;
  color: white;
  display: flex;
  flex-direction: column;
}


.eduJurusan p {
  margin: 0;
}

.contactMeBg {
  background-color: #FFB301;
  width: 100%;
  height: 300px;
  min-height: fit-content;
  margin: 200px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 900;
  font-size: 25px;
  flex-direction: column;
}

.contactSosmed {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contactSosmed a:hover{
  color: black;
}

.contactMeBg a {
  margin: 10px;
  text-decoration: none;
  color: black;
}

.visiTitle {
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  text-align: center;
}

.visiText {
  font-weight: 100;
  font-style: italic;
}

.misiTitleText {
  color: white;
  font-weight: 900;
  margin: 2vh 0 1vh 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.twoMisiText div {
  text-align: justify;
  margin-bottom: 2vh;
}

.twoMisiText div div{
  border: 5px solid #FFB301;
  border-radius: 10px;
  padding: 15px;
}

.misiTitle {
  color: #FFB301;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  text-align: center;
}

.misiText div {
  font-weight: 100;
  color: white;
}
.misiTitleText p {
  margin:0;
  color: #FFB301;
}

.visiTitle, .misiTitle{
  font-size: 25px;
}
.visiText, .misiText{
  font-size: 18px;
  padding: 4vh 10vw 4vh 10vw;
}
.twoMisiText {
  display: flex;
  flex-direction: row;
  gap: 7vw;
}
.twoMisiText div{
  display: flex;
  flex-direction: column;
}

.progjaTitle {
  color: white;
  font-size: 40px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.progjaTitle div {
  color: #FFB301;
}

.progjaContentBox {
  padding: 5vh 5vw 5vh 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.progjaCard {
  width: 40vw;
  background-color: transparent!important;
  border: 5px solid #FFB301!important;
  border-radius: 15px!important;
  margin-bottom: 4vh!important;
  text-align: center;
  color: white;
}

.progjaTitleCard {
  color: rgb(223, 181, 66);
  font-size: 20px;
  font-weight: 900;
}

.progjaText {
  font-size: 16px;
}

@media only screen and (min-width: 651px) {
  .perkenalanBio {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .visiTitle, .misiTitle{
    font-size: 25px;
  }
  .visiText, .misiText{
    font-size: 18px;
    padding: 2vh 15vw 2vh 15vw;
  }
  .greetingsName {
    font-size: 55px;
  }
  .greetingsName p {
    font-size: 60px;
  }
  .eduDescBox {
    width: 80vw;
  }
}

@media only screen and (max-width: 768px) {
  .visiTitle, .misiTitle{
    font-size: 25px;
  }
  .visiText, .misiText{
    font-size: 18px;
    padding: 2vh 7vw 2vh 7vw;
  }
  .greetingsName {
    font-size: 40px;
  }
  .greetingsName p {
    font-size: 50px;
  }
  .greetingsName div {
    font-size: 14px;
  }
  .cardPhoto {
    min-width: 40vw;
    min-height: max-content;
  }
  .cardWhyYouShould {
    margin-left: 5vw;
    margin-right: 4vw;
  }
  .textCard {
    font-size: 30px;
    margin-left: 4vw;
  }
  .textCard p {
    font-size: 15px;
  }
  .eduContent {
    font-size: 14px;
  }
  .eduJurusan {
    font-size: 12px;
  }
  .eduDescBox {
    width: 80vw;
  }
}

@media only screen and (max-width: 651px) {
  .greetingsName div {
    display: none;
  }
  .greetingsName {
    font-size: 23px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 6vw;
  }
  .greetingsName p {
    font-size: 35px;
  }
}

@media only screen and (max-width: 426px) {
  .progjaCard {
    width: 80vw;
  }
  .twoMisiText {
    display: flex;
    flex-direction: column;
  }
  .visiTitle, .misiTitle{
    font-size: 22px;
  }
  .visiText, .misiText{
    font-size: 17px;
  }
  .greetingsName {
    font-size: 20px;
  }
  .greetingsName p {
    font-size: 30px;
  }
  .greetingsName div {
    display: none;
    font-size: 12px;
  }
  .cardPhoto {
    width: 80vw;
    height: 60vh;
  }
  .cardWhyYouShould {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .textCard {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
    margin-left: 0;
  }
  .textCard p {
    font-size: 15px;
  }
  .eduContent {
    font-size: 12px;
  }
  .eduJurusan {
    font-size: 10px;
  }
}

@media only screen and (max-width: 376px) {
  .twoMisiText {
    display: flex;
    flex-direction: column;
  }
  .visiTitle, .misiTitle{
    font-size: 20px;
  }
  .visiText, .misiText{
    font-size: 16px;
  }
  .greetingsName {
    font-size: 20px;
    margin-top:8vh;
  }
  .greetingsName p {
    font-size: 20px;
  }
  .greetingsName div {
    font-size: 12px;
  }
  .textCard {
    font-size: 25px;
  }
  .textCard p {
    font-size: 13px;
  }
}

@media only screen and (max-width: 321px) {
  .progjaTitle {
    font-size: 25px;
  }
  .progjaCard {
    width: 80vw;
  }
  .progjaTitleCard {
    font-size: 16px;
  }
  .progjaText {
    font-size: 12px;
  }
  .twoMisiText {
    display: flex;
    flex-direction: column;
  }
  .greetingsName {
    font-size: 15px;
    margin-top: 4vh;
    
  }
  .greetingsName p {
    font-size: 17px;
  }
  .greetingsName div {
    font-size: 11px;
  }
  .awesomeServ {
    font-size: 25px;
  }
  .visiTitle {
    font-size: 20px;
  }
  .visiText{
    font-size: 15px;
  }
  .misiTitleText {
    font-size: 15px;
  }
  .misiTitleText p {
    font-size: 15px;
  }
  .misiTitle {
    font-size: 20px;
  }
  .misiText div{
    font-size: 13px;
  }
}